.flickrSet {
    position: relative;
    width: 255px;
    height: 155px;
    -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px;
    margin: 18px 0 0 -7px;
    overflow: hidden;
}

.flickrSet:first-child {
    margin-top: 0;
}

.flickrSet img {
    position: absolute;
    top: 0;
    left: 0;
    width: 255px;
    height: auto;
}

.flickrSet p.button-link {
    position: absolute;
    bottom: 8px;
    left: 13px;
    width: 230px;
    padding-right: 0;
    padding-left: 0;
}

.flickrSet p.button-link a {
    background-color: #c1d72e;
}

.flickrSet p.button-link a:hover {
    color: #832456; background-color: #fff;
}